$body-bg: #f5f5f5;
$primary: #0076bc;     
$primary-dark: #005a8e; 
$white: #ffffff;
$border: rgba(255, 255, 255, 0.2);
$side-content-bg: #e0d0e7;
$img-btn: rgba(0, 0, 0, 0.1);
$img-btn-hover: rgba(0, 0, 0, 0.3);
$border-radius: 8px;
